
<form name="form1" method="post" action="sb_sub.jsp">
  <p>
    <input type="text" name="un">
  </p>
  <p> 
    <input type="password" name="ps">
  </p>
  <p> 
    <input type="submit" name="Submit" value="Submit">
  </p>
  <p>
    <input type="text" name="routeMe">
  </p>
</form>

