body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin:0
	
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.bodystyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.medium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.xbig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.expanded {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 2px;
}

.justified {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 {
	padding: 3px;
	border-width: medium;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border: 1px solid;
}




	#left   { background: url(images/index_left.gif) repeat-y top right  }
	#right       { background: url(images/index_right.gif) repeat-y top left  }
