.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000 ; background-color: #CCCCCC}
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #FFFFFF; font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #CCCCCC; font-weight: bold }
.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #663333}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #993333}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000}
.titleSub1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000 }
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #00CCFF}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #3333FF}
