.tdHeaderAlt {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; background-color: #003366}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #0099CC}
.title {  font-family: "Courier New", Courier, mono; font-size: 18px; color: #333333; font-weight: bolder}
