<link rel="stylesheet" type="text/css" href="anytime/anytime.css" />
    <script type="text/javascript" src="prototype/prototype-1.6.0.3.js" ></script>
    <script type="text/javascript" src="anytime/anytime.js" ></script>
    


<input type="text" id="foo" tabindex="260" size="50" value="5/8/1980 11:55 am"  />    

<script type="text/javascript">
    new ATWidget( "foo", { format: "%m/%d/%Y %h:%i %p" } );
  </script>
  
  
  <hr>
  
  <script type="text/javascript">
    new ATWidget("ATWidgetDemo",
      { format:"%Y-%m-%d %h:%i", placement:"inline" });
    $("ATWidgetDemo").hide();
  </script>