body{
	margin:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	background-color:#f9f9f9;

}
.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #DDDDEE}
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000 ;  font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000 ; background-color: #CCCCDD; font-weight: bold }
.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663333}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #000033}
.titleSub1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000 }
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #FFFFFF}
.tableColor {  background-color: #DDDDDD}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #3333FF}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003399}
a:hover {
	background-color:#6F6;
}
.incompleteItem { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #DDCCCC}
.expiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC66}
.requiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #DDCCCC}
.expiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC66}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
input {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.tdBaseAltGrey {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; background-color:#DDDDDD}
.tdBaseAltCyan {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; background-color: #99ffff}
.tdBaseAltGreen {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; background-color: #66ff66}
.tdBaseAltYellow {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; background-color: #FFFF66}
.tdBaseAltRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #F00
}
.tdBaseAltPurple {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; background-color: #ff99ff}
.tdBaseAltOrange {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000; background-color: #ffCC99}
.tdBaseAltPink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #FFB3B5
} 
.tdBaseAltBeige{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #C2CE99;
} 

.tdBaseAltOliveMed{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #97BE81;
} 

.tdBaseAltLime{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #9F0;
} 

.tdBaseAltLime2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #D3FF62;
} 

.tdBaseAltLime3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #BAED00;
} 


.tdBaseAltRed2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
	background-color: #C87286;
} 






.ndBaseAltDefault {  background-color:#DDDDDD;}
.ndBaseAltNegotiating {  background-color: #99ffff;}
.ndBaseAltContracted {   background-color: #66ff66;}
.ndBaseAltTarget {  background-color: #FFFF66;}
.ndBaseAltNoContract {	background-color: #F00;}
.ndBaseAltSendContract {  background-color: #ff99ff;}
<!--.ndBaseAltOrange {  background-color: #ffCC99;}-->
.ndBaseAltTargetMerge {	background-color: #FFB3B5;} 
.ndBaseAltContractedSelect{	background-color: #C2CE99;} 
.ndBaseAltContractedStar{	background-color: #9F0;} 



.tdBaseFade1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999
}
.textVoid{
	text-decoration:line-through;
}

.tdBaseAlt_Create{
	background-color:#24FF24;
}
.tdBaseAlt_Test{
	background-color:#AACCFF;
}
.tdBaseAlt_Stop{
	background-color:#666;
	color:#FFF;
}
.tdBaseAlt_Action1{
	background-color:#FF3;
}
.tdBaseAlt_Action2{
	background-color:#FFB13E;
}
.tdBaseAlt_Action3 {
	background-color:#FF6464;
}

.tdBaseAlt_Default{
	background-color:#FFF;
}

.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px;   background-color: #DDDDEE}
.tdBaseAlt2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px;  background-color: #EEEEFF}
.tdBaseAlt3 { font-family: Arial, Helvetica, sans-serif; font-size: 12px;  background-color: #EEFFEE}
.tdBaseAlt4Blue { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF ; background-color: #000033}
.tdBaseAltVoid { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666 ; background-color: #999999}
.tdBaseAlt4Green { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF ; background-color: #003300}





