.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #C9C9FF}
a {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF;
	text-decoration:none;
	padding:3px;
	}
a:hover {
	background-color:#999999;
}
	


