<span class="title">Dashboard Summary</span><br>
Total Contracted Centers: <a href="AdminPracticeAll_query.jsp?orderBy=PracticeName,%20ownername2,%20tPracticeMaster.OfficeStateID&maxResults=20000&startID=0&SpecialServicesID=0&ActivityOnly=0&dueBy=&RelationshipTypeID=2&ownername2=&PracticeID=&ContractingStatusID=-40&PracticeName=&OfficeAddress1=&OfficeCity=&OfficeStateID=0&OfficeZip=&ZCCounty=&ModalityTypeID=-1">1807</a><br>
Total OTA Centers: <a href="AdminPracticeAll_query.jsp?orderBy=PracticeName,%20ownername2,%20tPracticeMaster.OfficeStateID&maxResults=20000&startID=0&SpecialServicesID=0&ActivityOnly=0&dueBy=&RelationshipTypeID=2&ownername2=&PracticeID=&ContractingStatusID=1&PracticeName=&OfficeAddress1=&OfficeCity=&OfficeStateID=0&OfficeZip=&ZCCounty=&ModalityTypeID=-1">842</a><br>
Weighted Avg Rate (MRI WO): 371<br>
Weighted Avg Rate (MRI W): 456<br>
Weighted Avg Rate (MRI WWO): 523<br>
Weighted Avg Rate (CT WO): 205<br>
Weighted Avg Rate (CT W): 262<br>
Weighted Avg Rate (CT WWO): 286<br>
<br><span class="title">Total Tech-only:</span><br><table border=1 style="padding:2px"><tr><td><strong>CA</strong></td><td>MRI wo</td><td>MRI w</td><td>MRI wwo</td><td>CT wo</td><td>CT w</td><td>CT wwo</td><tr><td>TC: </td><td>234</td><td>279</td><td>326</td><td>135</td><td>161</td><td>196</td></tr><tR><td>26: </td><td>90</td><td>110</td><td>120</td><td>52</td><td>58</td><td>69</td></tr></tr></table><br><table border=1 style="padding:2px"><tr><td><strong>FL</strong></td><td>MRI wo</td><td>MRI w</td><td>MRI wwo</td><td>CT wo</td><td>CT w</td><td>CT wwo</td><tr><td>TC: </td><td>227</td><td>282</td><td>331</td><td>124</td><td>140</td><td>157</td></tr><tR><td>26: </td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr></tr></table><br><table border=1 style="padding:2px"><tr><td><strong>GA</strong></td><td>MRI wo</td><td>MRI w</td><td>MRI wwo</td><td>CT wo</td><td>CT w</td><td>CT wwo</td><tr><td>TC: </td><td>317</td><td>347</td><td>471</td><td>172</td><td>202</td><td>239</td></tr><tR><td>26: </td><td>125</td><td>0</td><td>150</td><td>0</td><td>0</td><td>0</td></tr></tr></table><br><br>Updated: Wed Sep 26 13:00:15 PDT 2012