<?php 
include 'globalVars.php';
$wineryMaintenance = 'active open';
$editWinery = 'active';
include 'header.php';?>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs"> 
    <script type="text/javascript">
			try {
				ace.settings.check('breadcrumbs', 'fixed')
			} catch (e) {
			}
		</script>
    <ul class="breadcrumb">
      <li><i class="icon-home home-icon"></i> <a href="#">Home</a></li>
      <li>Winery</li>
      <li class="active">Edit Winery</li>
    </ul>
    <!-- .breadcrumb -->
    
    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="icon-search nav-search-icon"></i> </span>
      </form>
    </div>
    <!-- #nav-search --> 
  </div>
  <div class="page-content">
    <div class="page-header">
      <h1> Edit Winery <small> <i class="icon-double-angle-right"></i> Edit exisiting winery </small> </h1>
    </div>
    <!-- /.page-header -->
    <div class="row">
      <div class="col-sm-12"> 
        <!-- PAGE CONTENT BEGINS -->
        
        <form class="form-horizontal" role="form" method="post" action="edit-winery-sub.php">
          <div class="col-sm-3">
            <div class="col-sm-12 mb-10">
              <div class="col-xs-12">
                <label for="form-field-1">Search Winery</label>
              </div>
              <div class="col-xs-12">
                <input class="form-control" type="text" id="search" />
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-xs-12">
            <h3 class="header smaller lighter blue">Recent Users</h3>
            <div class="table-responsive">
              <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="center"> <i class="icon-ok"></i> </th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>County</th>
                  </tr>
                </thead>
                <tbody>
                  <?=getRecentWinery();?>
                </tbody>
              </table>
            </div>
          </div>
          <div class="clearfix form-actions col-sm-12">
            <div class="col-md-9">
              <button class="btn btn-info" type="submit"> <i class="icon-ok bigger-110"></i> Submit </button>
              &nbsp; &nbsp; &nbsp;
              <button class="btn" type="reset"> <i class="icon-undo bigger-110"></i> Reset </button>
            </div>
          </div>
        </form>
        <!-- PAGE CONTENT ENDS --> 
      </div>
      <!-- /.col --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.page-content --> 
</div>
<!-- /.main-content -->

</div>
<!-- /.main-container-inner --> 

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="icon-double-angle-up icon-only bigger-110"></i> </a>
</div>
<!-- /.main-container -->

<?php include 'footer.php';?>
