@charset "utf-8";
/* CSS Document */

pre {
    overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.emphasizeText{
	font-size:135%;
	font-weight:bold;
	
	
}

  .highlight { background-color: #8888FF }	

.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.tdBaseAlt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #D3E1F8
}
.tdBaseAlt2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px;  background-color: #EEEEFF}
.tdBaseAlt3 { font-family: Arial, Helvetica, sans-serif; font-size: 12px;  background-color: #EEFFEE}
.tdBaseAlt4Blue { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF ; background-color: #000033}
.tdBaseAltVoid { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666 ; background-color: #999999}
.tdBaseAlt4Green { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF ; background-color: #003300}
.tdBaseFade1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999
}
.tdBaseFade2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444
}
.textVoid{
	text-decoration:line-through;
}

.disabled {
background-color: #dcdcdc;
} 


.tdBaseAlt_Create{
	background-color:#24FF24;
}
.tdBaseAlt_Test{
	background-color:#AACCFF;
}
.tdBaseAlt_Stop{
	background-color:#666;
	color:#FFF;
}
.tdBaseAlt_Action1{
	background-color:#FF3;
}
.tdBaseAlt_Action2{
	background-color:#FFB13E;
}
.tdBaseAlt_Action3 {
	background-color:#FF6464;
}

.tdBaseAlt_Default{
	background-color:#FFF;
}

.divboxFuzzy1{
	width:auto;
	height:auto;
	background-color:#CCC;
}


.big { font-size: 16px; }
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000000 ;  font-weight: bold}
.tdHeaderBright { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #FFFFFF ;  font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000000 ; background-color: #DEE3ED; font-weight: bolder }
.tdHeaderAltDark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFF;
	background-color: #385574;
	font-weight: bold
}

.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663333}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #000000
}
.titleSub1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000
}
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #FFFFFF}
.instructionsBig1 {
	font-size: 16px;
	font-style: italic;
	color: #CA0000;
	letter-spacing: 1px;
	font-weight: bolder;
}
.tableColorOld {  background-color: #B8C3D7}
.tableColor {
	background-color: #DEE3ED
}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
.big2 {
	font-size: 20px;
	font-weight: bolder;
	line-height:normal;
}
.big3 {
	font-size: 30px;
	font-weight: bolder;
	line-height:normal;
}

h2
 {
	font-size: 20px;
	font-weight: bolder;
	line-height:normal;
}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
.incompleteItem { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #660000 ; background-color: #DDCCCC}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
.expiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
.requiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #DDCCCC}
.inputHi {
	font-size: 14px;
	border: thin dotted #000033;
	font-weight: bold;
	background-color:#DDDDEE;
}

.iclistborder {
	font-size: 9px;
	border: thin dotted #000033;
	font-weight: normal;
	background-color:#DDDDDD;
	margin: 3px;
}
.certborder {
	font-size: 14px;
	border: thin dotted #000033;
	font-weight: bold;
	background-color:#DDDDEE;
}

.certborderPrint {
	font-size: 14px;
	border: thin dotted #000033;
	font-weight: bold;
	background-color:#FFFFFF;
}
.certborderPrintInt {
	border: 1px solid #000099;
	border-collapse:collapse;
}


.expiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.wizardTable {  background-color: #99CC99}
.requiredFieldExpress {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
td, th {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
th{cursor:pointer;
text-decoration:underline;}

.scroll400box {
margin-left:15;
width: 400;
height: 200;
overflow: auto;
}

.scroll800box {
margin-left:15;
width: 800;
overflow: auto;
}

.certborderTrans {
	border: thin dotted #000033;
}

.tdBaseAltRed{
	background-color:#FFA4A4;
}
.tdBaseAltYellow{
	background-color:#FFFFA2;
}
.tdBaseAltOrange{
	background-color:#FFCA95;
}

.tdBaseAltGreen{
	background-color:#91FF84;
}
.tdBaseAltStrikeRemove{
	text-decoration: line-through;
}

.inputButton_md_Create{
	background-color:#00CC00;
}
.inputButton_md_Test{
	background-color:#AACCFF;
}
.inputButton_md_Stop{
	background-color:#666;
	color:#FFF;
}
.inputButton_md_Action1{
	background-color:#FFFF00;
}
.inputButton_md_Action2{
	background-color:#F90;	
}
.inputButton_md_Action3 {
	background-color:#F00;
}

.inputButton_md_Default{
	background-color:#CCCCCC;
}

.inputButton_sm_Create{
	background-color:#00CC00;	
	font-family: "Courier New", Courier, monospace;
	font-size:11px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_sm_Test{
	background-color:#AACCFF;	
	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_sm_Stop{
	background-color:#666;
	color:#FFF;
	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_sm_Action1{
	background-color:#FFFF00;	
	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_sm_Action2{
	background-color:#F90;	
	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}

.inputButton_sm_Action3{
	background-color:#F00;	
	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_sm_Default{
	background-color:#CCCCCC;	
	font-family: "Courier New", Courier, monospace;
	font-size:11px;
	margin: 0px;
	padding: 0px;
	
}


.inputButton_lg_Create{
	background-color:#00CC00;	
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_lg_Test{
	background-color:#AACCFF;
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_lg_Stop{
	background-color:#666;
	color:#FFF;
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_lg_Action1{
	background-color:#FFFF00;
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_lg_Action2{
	background-color:#F90;	
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_lg_Action3{
	background-color:#F00;	
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}
.inputButton_lg_Default{
	background-color:#CCCCCC;
	font-size:20px;
	margin: 0px;
	padding: 0px;
	
}



.inputButtonAlert0{
	background-color:#CCCCCC;	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButtonAlert1{
	background-color:#FFFF00;	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButtonAlert2{
	background-color:#A54AFF;	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}
.inputButtonAlert3{
	background-color:#F60;	font-family: "Courier New", Courier, monospace;
	font-size:9px;
	margin: 0px;
	padding: 0px;
	
}

.inputTextAreaAlert3{
	background-color:#F60;	font-family: "Courier New", Courier, monospace;
	color:#F60;
}


.boxDr{
	min-width:200;
	width:auto; 
	min-height:50;
	height:auto; 
	border:thin;
	border:thin dotted #8FB8FC;
	background-color:#D7F4F4;
}
.boxDrSize{
	min-width:200;
	width:auto; 
	height:50;
}

.boxModalPass{
	min-height:300;
	height:auto; 
}

.boxPat{
	margin-top:10;
	width:475;
	border:thin;
	border:thin dotted #8FB8FC;
	background-color:#D7F4F4;   
	height:50;
}

body{
	margin:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	background-image:url(/winstaff/nim3/ui_200/nav-images/bg_light4.png);
	background-color:#f9f9f9;

}

oldbody{
	margin:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	background-image:url(/winstaff/nim3/ui_200/nav-images/bg2.gif);
	background-attachment: fixed;
	background-repeat:repeat-y;
	background-color:#001F3E;

}

.divInside{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #DDEEDD;
	}
.tableBorderDot{
	border: 1px dotted #003;
}
.borderHighlight1 {
	border: thin dotted #000033;
	padding: 1px;
	line-height: 16px;
	margin: 2px;
}
.borderHighlightGreen {
	border: 1px dotted #000033;
	padding: 1px;
	line-height: 20px;
	margin: 2px;
	background-color: #E8FFE8;
	font-size:16px;
}
.borderHighlightGreenLight {
	border: 1px dotted #000033;
	padding: 1px;
	line-height: 20px;
	margin: 2px;
	background-color: #EFFFEF;
	font-size:16px;
}
.borderHighlightBlackSolid {
	border: 1px solid #000000;
	padding: 1px;
	line-height: 20px;
	margin: 2px;
	font-size: 14px;
}
.borderHighlightBlackDotted {
	border: 1px dotted #000000;
	padding: 1px;
	line-height: 20px;
	margin: 2px;
	font-size: 14px;
}
.borderHighlightBlackDottedNoFont {
	border: 1px dotted #000000;
	padding: 1px;
	line-height: 20px;
	margin: 2px;
}

.tableCanvasLightGrey
{
	background-color:#F3F3E7
}



.ndBaseAltDefault {  background-color:#DDDDDD;}
.ndBaseAltNegotiating {  background-color: #99ffff;}
.ndBaseAltContracted {   background-color: #66ff66;}
.ndBaseAltTarget {  background-color: #FFFF66;}
.ndBaseAltNoContract {	background-color: #F00;}
.ndBaseAltSendContract {  background-color: #ff99ff;}
.ndBaseAltTalking {  background-color: #ffCC99;}
.ndBaseAltTargetMerge {	background-color: #FFB3B5;} 
.ndBaseAltContractedSelect{	background-color: #C2CE99;} 
.ndBaseAltContractedStar{	background-color: #9F0;} 

.printBase {
	font-size: 16px;
}
#quick-form{
	font-size:16px;
	width:330px;
	margin:0 auto;
}
#quick-form-container{
	width: 341px;
	border-radius: 10px;
	border: 1px solid #000;
	/*text-align: center;*/
	background: #c9dbed;
	box-shadow: -3px 4px 20px -5px #000;
}
#quick-form-container span{
	display: block;
}
#quick-form-container input, #quick-form-container textarea{
	border-radius:5px;
	border: 1px solid #000;
}
#quick-form-container input[type="text"]{
	width:150px;
	height:17px
}
#quick-form-container input{
	/*position:relative;
	top:-2px;*/
}
#quick-form-container textarea{
	width:330px;
	height:100px;
	margin-bottom:-10px;
}

#quick-form-container .left, #quick-form-container .right{
	/*width:150px;*/
}
#quick-form-container .left{
	float:left;
	text-align:right;
}
#quick-form-container .right{
	float:right;
	text-align:left;
}
#quick-form-container .clear{
	clear:both;
}
#quick-form-container legend{
	text-align:left;
	margin-left:15px;
	font-weight:bold;
	font-size:20px;
	/*border: 1px solid black;
	background: #dae8f6;
	border-radius: 3px 3px 0 0;
	position: relative;
	top: -3px;*/
}
#quick-form-container h3{
	margin: 5px;	
	text-align:center;
}
#quick-form-container input[type="submit"], #quick-form-container input[type="button"]{	
	position:relative;
	top:22px;
	cursor:pointer;
}
#uploadbutton{
	background:#7ae917;
}
#quick-form-container input[type="button"]{
	background:#f05739;
}
#quick-form-container .label-bg{
	background: rgba(235, 244, 254, .5);
	border: 1px solid #fff;
	border-radius: 5px;
	overflow: hidden;
	padding: 5px 20px;
	width: 300px;
	margin: 8px auto;
}
form[name="SchedulerSelect"]{
	display:inline;
	height: 22px;
	border-radius: 5px;
	margin-left:10px;
}
input[name="schedList"]{
	height:20px;
	width:230px;
	text-transform:capitalize;
}
.current-list{
	text-decoration:underline;
}
div.schedBox{
	display:none;
	background: #f1f5f9;
	padding: 4px;
	border: 1px solid;
	border-radius: 4px;
	box-shadow:-2px 3px 14px -3px #000;
	cursor:pointer;
}
div.schedBox:hover{
	background:#d7e2ed;
}
span#search{
	margin-left:80px;
}
div.commBox{http://192.168.22.134:8080/
	color:#000;
}
div.commBoxTitle{
	cursor: pointer;
	overflow: hidden;
	font-size: 13px;
}
div.commBox{
	background: #d9d9d9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d9d9d9 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #d9d9d9 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #d9d9d9 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #d9d9d9 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #d9d9d9 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#cccccc',GradientType=0 );
	border-radius:3px;
	margin-bottom:5px;
	border: 1px solid black;
}
div.commBox:nth-child(even):hover, div.commBox:nth-child(odd):hover{
	background:#acacff;
}
div.commBoxMsg{
	background:#eeeeee;
	display:none;
	clear:both;
	border:1px solid #fff;
	padding:3px;
}
div span.left{
	float:left;
}
div span.right{
	float:right;
}
span.display-none{
	display:none;
}
.bold{
	font-weight:bold;
}
#amer-form-container{
	width:600px;
	font-family: Helvetica,Arial, sans-serif,"Trebuchet MS"; 
	font-size:13px;
	margin: 0 10px;
}
#amer-form-container>div{
	border-radius: 3px;	
	padding: 6px;
}
#amer-adj-link{
	color: white;
	background: #6A93C7;	
}
#amer-claim-search{
	background:#dadfec;	
	border-top: 3px solid #CCC;
}
#amer-claim-search .md-info-input-text{
	margin-left: 15px;
	width: 230px;
	margin-right: 15px;
}
.amer-input-button{
	background: #E0E0E0;
	border-radius: 5px;
	border: 2px solid #4F709B;
	padding: 4px 13px;
	cursor:pointer;
}
#amer-claim-search p, #md-info p {
	display:inline;	
}
#amer-claim-search-box{
	margin-left: 120px;
	height: 20px;
	border-radius: 5px;
	width: 200px;
}
#iw-info{
	background:#eef1f6;	
	padding:0; !important
}
.ameri-results:nth-child(odd){
	background:#eef1f6;	
	padding:0; !important
}
.ameri-results:nth-child(even){
	background:#DADFEC;	
	padding:0; !important
}
.amer-two-col{
	overflow:hidden;	
}
.amer-two-col .left{
	width:230px;
}
.amer-two-col .right{
	width:330px;	
}
#amer-form-container p {
	margin:0;	
}
#md-info{
	background: #DADFEC;
}
#md-info .right p {
	float:left;
	width:110px;
}
.md-info-input-text{
	height: 20px;
	border-radius: 5px;
	width: 200px;
}
#md-info .right input{
	height: 15px;
	margin: 2px 0;
	position: relative;
	top: -4px;	
}
#procedure-info{
	background:#eef1f6;	
}
.big-text-input{
	width:312px;	
}
#special-notes{
	background: #DADFEC;	
}
#special-notes .right>textarea, #procedure-info .right>textarea{
	height: 51px;
	width: 318px;	
	border-radius: 3px;
}
#upload-doc{
	background:#eef1f6;
	/*border-bottom:3px solid #ccc;*/
}
input[value="Cancel"].amer-input-button{
	margin-left:15px;	
}
#ameri-query{
	font-family: Helvetica,Arial, sans-serif,"Trebuchet MS"; 
	font-size:13px;
	margin: 0 10px;
	color:#fff;
	position: fixed;
	background: #6A93C7;
	padding: 4px 4px 1px 4px;	
	z-index:10;
	border-radius: 5px;
	display:none;
}
#ameri-query>p{
	padding:6px;
	margin:0;	
}
#close-search-box{
	position: absolute;
	right: 2px;
	top: 3px;
	height: 26px;	
	cursor:pointer;
}
#faded-bg{
	background:rgba(0,0,0,.7);
	padding:-100px;	
	z-index:9;
	position: fixed;
	top:0;
	left:0;
	display:none;
}
#ameriDbResults{
	clear:both;	
}
.capitalize{text-transform:capitalize;}
.left{float:left;}
.right{float:right;}