.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #DDDDEE}
.tdBaseAlt2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #EEEEFF}
.tdBaseAlt3 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #EEFFEE}
.tdBaseAlt4Blue { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF ; background-color: #000033}
.tdBaseAlt4Green { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF ; background-color: #003300}
.big { font-size: 16px; }
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000 ;  font-weight: bold}
.tdHeaderBright { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #FFFFFF ;  font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000 ; background-color: #B8C3D7; font-weight: bold }
.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663333}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #000000}
.titleSub1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000 }
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #FFFFFF}
.instructionsBig1 {
	font-size: 16px;
	font-style: italic;
	color: #CA0000;
	letter-spacing: 1px;
	font-weight: bolder;
}
.tableColor {  background-color: #B8C3D7}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
.big2 {
	font-size: 20px;
	font-weight: bolder;
	line-height:normal;
}
.big3 {
	font-size: 30px;
	font-weight: bolder;
	line-height:normal;
}

h2
 {
	font-size: 20px;
	font-weight: bolder;
	line-height:normal;
}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
.incompleteItem { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #660000 ; background-color: #DDCCCC}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
.expiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
.requiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #DDCCCC}
.inputHi {
	font-size: 14px;
	border: thin dotted #000033;
	font-weight: bold;
	background-color: DDDDEE;
}

.iclistborder {
	font-size: 9px;
	border: thin dotted #000033;
	font-weight: normal;
	background-color: DDDDDD;
	margin: 3px;
}
.certborder {
	font-size: 14px;
	border: thin dotted #000033;
	font-weight: bold;
	background-color: DDDDEE;
}

.certborderPrint {
	font-size: 14px;
	border: thin dotted #000033;
	font-weight: bold;
	background-color: FFFFFF;
}
.certborderPrintInt {
	border: 1px solid #000099;
	border-collapse:collapse;
}


.expiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.wizardTable {  background-color: #99CC99}
.requiredFieldExpress {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}


.scroll400box {
margin-left:15;
width: 450;
height: 175;
overflow: auto;
}
.certborderTrans {
	border: thin dotted #000033;
}

.inputButton_md_Create{
	background-color:00FF00;
}
.inputButton_md_Test{
	background-color:AACCFF;
}
.inputButton_md_Stop{
	background-color:FF9999;
}
.inputButton_md_Action1{
	background-color:FFFF00;
}
.inputButton_md_Default{
	background-color:CCCCCC;
}

.boxDr{
	margin-top:10;
	width:125;
	border:thin;
	border:thin dotted #8FB8FC;
	background-color:#D7F4F4;
	height:60;
}
.boxPat{
	margin-top:10;
	width:475;
	border:thin;
	border:thin dotted #8FB8FC;
	background-color:#D7F4F4;   
	height:50;
}

body{
	margin:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;

}

.divInside{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #DDEEDD;
	}

