@charset "utf-8";
/* CSS Document */
body
{
background-image:url('bg1.jpg');
background-repeat:no-repeat;
background-position:right top;
margin-right:100px;
}
.htmlBox {
	width:600px; 
}
.logoBox {
	width:600px; 
	height:100px
	padding:5px;
    /* for IE */
    filter:alpha(opacity=80);
    /* CSS3 standard */
    opacity:0.8;	
}
.contentBox {
	text-align:left;
	border-radius: 5px;
	width:600px; 
	padding:15px;
	margin-top:30px;
	background-color:#FFF;
    /* for IE */
    filter:alpha(opacity=90);
    /* CSS3 standard */
    opacity:0.9;	
}

.contentBox_SignIn {
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	width:250px; 
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px #333 dashed;
	background-color:#FFF;
}

.contentBox_Form {
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	width:575px; 
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px #333 dashed;
}



input {
	border: 1px solid #332240;
	background-color: #FFF;
}
.inputField {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFF;
	padding: 1px;
	border: 1px dotted #000;
	height: 20px;
	width: 175px;
}
.inputButton {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 1px;
	border: 1px dotted #000;
	height: 30px;
	width: 95px;
	background-color: #6ADD64;
}

.inputButtonSmall {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 1px;
	border: 1px dotted #000;
	background-color: #6ADD64;
}

-->
