.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBaseLarge {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000000}
.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #CCCCCC}
.tdBaseAltRed { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #FFCCCC}
.tdBaseAltGreen { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #99FFCC}
.tdBaseAltBlue { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #99CCFF}
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000 ;  font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000 ; background-color: #BCCFCF; font-weight: bold }
.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663333}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000}
.titleSub1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000 }
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #FFFFFF}
.tableColor {  background-color: #CEDADB}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #3333FF}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003399}
.incompleteItem { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #DDCCCC}
.expiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC66}
.requiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #DDCCCC}
.expiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC66}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
input {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.calendarScroller {
	height: 300px;
	width: 100%;
	overflow: auto;
	text-align: left;	
}
.searchScroller{
	height: 600px;
	width: 100%;
	overflow: auto;
	text-align: left;	
}
.formBig{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}