.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #BBCCDD}
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ;  font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #88BBDD; font-weight: bold }
.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663333}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000066}
.titleSub1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000 }
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #FFFFFF}
.tableColor {  background-color: #BBCCDD}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0033CC; font-weight: bold}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0033CC}
.incompleteItem { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #660000 ; background-color: #DDCCCC}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
.expiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
.requiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #ddcccc}
.expiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #ffff66}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #DDF5FF}
input {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #B0C5D0}
.wizardTable {  background-color: #99CC99}
.requiredFieldExpress {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
