.background{/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}
.commentBackground{/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

border-radius: 4px 4px 4px 4px;

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}
.backgroundSecure{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

padding: 19px; border: 1px solid rgb(227, 227, 227);

border-radius: 4px 4px 4px 4px;

min-height:125px;

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}
.zipBackground{
	height:150px;
}
.sidebarH3{
	margin-top:-15%;
}
.backgroundHome{/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

padding: 19px;

border-radius: 4px 4px 4px 4px;

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}
.findFacilitiesNearYou{/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

padding: 19px; border: 1px solid rgb(227, 227, 227);

border-radius: 4px 4px 4px 4px;

min-height: 250px;

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}
.reserveFacilities{/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

padding: 19px; border: 1px solid rgb(227, 227, 227);

border-radius: 4px 4px 4px 4px;

min-height: 250px;

text-align:center;

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}
.zip{

maxlength="5";
width:98%;
}
.backgroundThumbNails{/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #DEDEDE 0%, #FFFFFF 100%);

padding: 19px; border: 1px solid rgb(227, 227, 227);

border-radius: 4px 4px 4px 4px;

min-height: 405px;

filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DEDEDE', endColorstr='#FFFFFF');/*For IE7-8-9*/ 
height: 1%;/*For IE7*/
}


.ButtonsNID {
	-moz-box-shadow:inset 0px 1px 0px 0px #66ccff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #66ccff;
	box-shadow: 3px 3px 1••••••••••5px -3px #000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #28A608), color-stop(1, #4DBF3B) );
	background:-moz-linear-gradient( center top, #28A608 5%, #4DBF3B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#28A608', endColorstr='#4DBF3B');
	background-color:#28A608;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
	text-shadow:1px 1px 1px #000000;
	border:0;
	width: 130px;
	height: 30px;
}
.ButtonsHeaderNID {
	-moz-box-shadow:inset 0px 1px 0px 0px #66ccff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #66ccff;
	box-shadow: 3px 3px 15px -3px #000;
	background:-webkit-gra••••••••••dient( linear, left top, left bottom, color-stop(0.05, #28A608), color-stop(1, #4DBF3B) );
	background:-moz-linear-gradient( center top, #28A608 5%, #4DBF3B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#28A608', endColorstr='#4DBF3B');
	background-color:#28A608;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:1px 1px 1px #000000;
	border:0;
	width: 180px;
	height: 44px;
	text-align:center;
	
	text-hover:none;

}
a.hover:{color: white; !important}
a.focus {color: white; !important}
.commentMainDiv{
	margin-top:20px;
	padding-top:20px;
}
.commBox{
	margin-top:35px;
}
.commPhone{
	width:9%; 
	margin-left:10px;
}
.ta{
	margin-left:6%; 
	width:90%;
}
.sub{
	  margin-left:48px; 
	  margin-top:2%;
}
.commBoxDiv{
	margin-top:3%;
}
.div2{
	margin-left:3%;
}
.fnDiv2{
	width:33%; margin-top:1%; margin-left:3%
}
.lnDiv2{
	width:33%; margin-top:1%; margin-left:2%
}
.h4{
	margin-left:2%;
}
.str{
	margin-left:7%;
	}