li.well {
	padding: 0;
	box-shadow: -5px 10px 25px -10px;
}
.thumbnails img.img-polaroid {
	width: 210px;
}
li.well p {
	background: #fff;
	margin: -7px 5px 5px 5px;
	padding: 5px;
	font-size: 12px;
	min-height: 160px;
}
li.well h4 {
	background: #fff;
	margin: 5px 5px -7px 5px;
	padding: 5px;
}
.hero-unit {
	overflow: hidden;
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 13px;
}
.hero-unit h3 {
	font-size: 23px;
}
.hero-unit well {
	margin-left: -20px;
}
.hero-unit input[type=radio] {
	margin: 0 0px 1px 0;
}
.footer {
	margin: 20px 0 0 0;
	padding: 10px;
}
.search-tool [class*="span"]{
	margin-left:0;
}
.search-tool h3{
	font-size:18px;
	margin-bottom: 0px;	
}
.check-all{
	line-height:0;	
}
.check-all input[type=checkbox]{
	margin: -1px 0 0 0;
}
table{
	width:100%;	
}
th{
	font-size:18px;	
}
.reserve{
	margin: 5px 0 10px;
}
.reserve .btn{
	/*background:rgb(238, 238, 238);*/
}
.reserve .btn:hover{
	background:#41bb19;
	color:white;
}
.added-modality{
	white-space: nowrap;
	overflow: hidden;	
	text-overflow: ellipsis;
	padding-left: 0;	
}
#added-modality-container{
	margin-top: 10px;
	height: 152px;	
}
#added-modality-container span{
	background: #9b59bb url('../img/icon-remove.png') no-repeat left !important;
	background-position: 5px 5px !important;
	padding-left: 25px;	
	margin-bottom:5px
}
#loadResults{
	min-height:402px;
}
.loadResults{
	background:url(/img/loading.gif) center;
}
#apptInfo{
	margin-bottom: 0px;	
}
#date-input input{
	width: 89%;
	margin-bottom:20px
}
#date-input i{
	position: relative;
	top: -9px;
	cursor: pointer;	
}
#date-input input[readonly], #iwDOB{
	background:#fff;
	cursor:default;	
}
#iwDOB{
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #bbbbbb;
	vertical-align: middle;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
	width: 204px;
}
label, #iwDOB{
	color:black;	
}
div.ui-datepicker{
	font-size:14px;
	margin: 10px 0 0 15px;
}
#datepicker th{
	font-size: 13px;	
}
#patient-info .span3{
	width:210px;
}
#patient-info .span3, #patient-info .span6{
	margin-left: 0px;
	margin-right: 20px;
}
.prescreen{
	margin-bottom:11px;	
}
.prescreen.span4{
	margin-left:0;	
}
.prescreen.span4 input{
	width:94%;
	margin-bottom:0;
}
.box-info {
	position: relative;
	left: 90px;
	text-align: center;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }





table.dataTable tr.odd { background-color: #fff; }
table.dataTable tr.even { background-color: #cccccc; }

table.dataTable tr.odd td.sorting_1 { background-color: #f3eeee; }
table.dataTable tr.odd td.sorting_2 { background-color: #333; }
table.dataTable tr.odd td.sorting_3 { background-color: #333; }
table.dataTable tr.even td.sorting_1 { background-color: #c3bbbb; }
table.dataTable tr.even td.sorting_2 { background-color: #333; }
table.dataTable tr.even td.sorting_3 { background-color: #333; }



