.textBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBase {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
.tdBaseAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #BBCCCC}
.tdHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ;  font-weight: bold}
.tdHeaderAlt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000 ; background-color: #B8C3D7; font-weight: bold }
.instructions {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #663333}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #000000}
.titleSub1 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000 }
.titleSub2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 }
.tableBase {  background-color: #FFFFFF}
.tableColor {  background-color: #CCCCCC}
.linkBase{  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
.incompleteItem { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #660000 ; background-color: #DDCCCC}
.requiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
.expiredField {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
.requiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #DDCCCC}
.expiredFieldMain {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000 ;background-color: #CCCC33}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
input {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; background-color: #FFFFFF}
.wizardTable {  background-color: #99CC99}
.requiredFieldExpress {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #993333}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
